/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #2e2e2e;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
}

/* Title */
h1 {
    font-size: 2rem;
    font-weight: 100;
    color: #e0e0e0;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Button List Group Containers */
.button-list-group {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Teal Tone Variations */
.button-list-group:nth-of-type(1) {
    background-color: #ff6262; /* Light teal */
}

.button-list-group:nth-of-type(2) {
    background-color: #b94e6f; /* Slightly darker teal */
}

.button-list-group:nth-of-type(3) {
    background-color: #815490; /* Even darker teal */
}

/* You can add more tones if needed */
.button-list-group:nth-of-type(4) {
    background-color: #4c569c;
}

.button-list-group:nth-of-type(5) {
    background-color: #214d95; /* Light teal */
}

.button-list-group:nth-of-type(6) {
    background-color: #216895; /* Slightly darker teal */
}

.button-list-group:nth-of-type(7) {
    background-color: #218395; /* Even darker teal */
}

.button-list-group:nth-of-type(8) {
    background-color: #27a88b; /* Even darker teal */
}

.button-list-group:nth-of-type(9) {
    background-color: #54c290; /* Even darker teal */
}


/* Button Grid Inside Each Group */
.button-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* Buttons */
.button-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 25px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
    background-color: #f8f8f8;
    transition: background-color 0.3s, color 0.3s;
    word-break: break-word;
    text-align: center;
}

/* Hover */
.button-list a:hover {
    background-color: #e0e0e0;
    color: #2e2e2e;
}
